<ion-header>
  <ion-navbar color = "primary">
    <ion-title>
      Friends
       <button ion-button color="friend2" end (click)="addNewGroups()">
          <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon>
        </button>
    </ion-title>
  </ion-navbar>
</ion-header>

  <!--<ion-list>
    <p>List of users</p>
    <ion-item *ngFor = "let user of usersList">
      <ion-label>{{user.name.first}}.{{user.name.last}}</ion-label>
    </ion-item>
  </ion-list>-->


  <!--<ion-list>
    <p>List of users</p>
    <ion-item *ngFor = "let user of usersList">
      <ion-label>{{user.name.first}}.{{user.name.last}}</ion-label>
    </ion-item>
  </ion-list>-->

<ion-content>
 <!--<ion-item-group>-->
   <ion-item-group>
      <ion-item-divider color="roommate" ><ion-icon name='people'></ion-icon> Roommates
      <button ion-button color="roommate" end (click)="addRoommate()">
          <ion-icon ios="ios-add-circle" md="md-add-circle" end></ion-icon>
      </button>
      </ion-item-divider>

      <ion-item  *ngFor = "let roommate of roommateList"><ion-label>{{roommate}}</ion-label></ion-item>
      <!--<ion-item><ion-icon ios="ios-bowtie" md="md-bowtie" color="girl"></ion-icon>   Tina</ion-item>
      <ion-item><ion-icon ios="ios-bowtie" md="md-bowtie" color="girl"></ion-icon>   May</ion-item>
      <ion-item><ion-icon ios="ios-bowtie" md="md-bowtie" color="girl"></ion-icon>   Greece</ion-item>-->
   </ion-item-group>
    <!--</ion-item-group>-->


    <ion-item-group>
      <ion-item-divider color="classmate"><ion-icon name='people'></ion-icon> CS 196 Classmates
        <button ion-button color="secondary" end (click) = "addClassmate()">
          <ion-icon ios="ios-add-circle" md="md-add-circle" end></ion-icon>
        </button>
      </ion-item-divider>
      <ion-item *ngFor = "let classmate of classmateList"><ion-icon ios="ios-bowtie" md="md-bowtie" color="girl"></ion-icon><ion-label>{{classmate}}</ion-label></ion-item>
      <!--<ion-item><ion-icon ios="ios-man" md="md-man" color="primary"></ion-icon>  Jack</ion-item>
      <ion-item><ion-icon ios="ios-bowtie" md="md-bowtie" color="girl"></ion-icon>  Yui</ion-item>
      <ion-item><ion-icon ios="ios-man" md="md-man" color="primary"></ion-icon>  Jason</ion-item>
      <ion-item><ion-icon ios="ios-bowtie" md="md-bowtie" color="girl"></ion-icon>  Mary</ion-item>
      <ion-item><ion-icon ios="ios-man" md="md-man" color="primary"></ion-icon>  Logan</ion-item>-->
    </ion-item-group>

    <!--<ion-item-group>
      <ion-item-divider color="classmate"><ion-icon name='people'></ion-icon> Sages </ion-item-divider>
      <ion-item *ngFor = "let person of people | async">
        <ion-icon ios="ios-bowtie" md="md-bowtie" color="girl"></ion-icon>
          <ion-thumbnail item-left>
            <img src="assets/img/{{person.name}}.jpg">
          </ion-thumbnail>
        <ion-label>{{person.name}}</ion-label>
        <ion-label>{{person.email}}</ion-label>
      </ion-item>
      <!<ion-item><ion-icon ios="ios-man" md="md-man" color="primary"></ion-icon>  Jack</ion-item>
      <ion-item><ion-icon ios="ios-bowtie" md="md-bowtie" color="girl"></ion-icon>  Yui</ion-item>
      <ion-item><ion-icon ios="ios-man" md="md-man" color="primary"></ion-icon>  Jason</ion-item>
      <ion-item><ion-icon ios="ios-bowtie" md="md-bowtie" color="girl"></ion-icon>  Mary</ion-item>
      <ion-item><ion-icon ios="ios-man" md="md-man" color="primary"></ion-icon>  Logan</ion-item>-->
    <!--</ion-item-group>-->
<!--     <ion-item-group>
      <ion-item-divider color="classmate"><ion-icon name='people'></ion-icon> Sages </ion-item-divider>
        <ion-item *ngFor="let person of people | async">
          <ion-thumbnail item-left>
            <img src="assets/img/{{person.name}}.jpg">
          </ion-thumbnail>
          <h2>{{person.name}}</h2>
          <note>{{person.id}}</note>
          <button ion-button item-right href="tel:+217-419-3129" >Call</button>
        </ion-item>
    </ion-item-group> -->

   
</ion-content>
