<ion-header>
  <!--<script src="lib/ngCordova/dist/ng-cordova.js"></script>
  <script src="controller.js"></script>
  <script src="service_work.js"></script>
  <script src="app.js"></script>-->
  
  <ion-navbar color = "primary" align="center">
    <ion-title >Payment Information</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)= "addBook()">
        <ion-icon name="add"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!--<h2 align = "center">Trying</h2>
  <ion-list>
  <ion-item-sliding *ngFor= "let book of books | async">
    <ion-item >
      <p>Title:{{book.title}}</p>
      <p>Author:{{book.author}}</p>
   </ion-item>
   <ion-item-options side="right">
      <button ion-button color="secondary" (click)="editBook(book)"><ion-icon name="md-create"></ion-icon>Edit</button>
   </ion-item-options>
    <ion-item-options side="left">
      <button ion-button color="danger" (click)="deleteBook(book.$key)"><ion-icon name="md-trash"></ion-icon>Delete</button>
   </ion-item-options>
  </ion-item-sliding>
  </ion-list>-->


  <div align="center">
    <h2 class = "new" color = "primary">Create New Payment</h2>
  </div>

  <ion-list>

  <ion-item background-color = "dark">
    <ion-label color = "dark" class="label" >Event Name:</ion-label>
    <ion-input  type="text" name = "title" [(ngModel)] = "title"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color = "dark"class="label">Amount:$ </ion-label>
    <ion-input type="money" name = "amount" [(ngModel)] = "amount"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color = "dark"class="label">Share to @ : </ion-label>
    <ion-input type="money" name = "shareTo" [(ngModel)] = "shareTo"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color = "dark"class="label">Date: </ion-label>
    <ion-input type="money" name = "details" [(ngModel)] = "date"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color = "dark"class="label">Location: </ion-label>
    <ion-input type="money" name = "details" [(ngModel)] = "location"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color = "dark"class="label">Descriptions: </ion-label>
    <ion-input type="money" name = "details" [(ngModel)] = "details"></ion-input>
  </ion-item>

  <!--<ion-card >

    <ion-card-content>
      <ion-card-title>
        Upload Pictures
      </ion-card-title>
      <p>
        Upload pictures to help others know more about this payment.
      </p>
    </ion-card-content>

  </ion-card>-->

  <ion-card>
    <ion-card-content>
      <ion-card-title align = "center">
        Upload Pictures
      </ion-card-title>
      <p>
        Upload pictures to help others know more about this payment.
      </p>
     <button ion-button block (click)="takePicture()">Take a Picture</button>

      <h2>Latest Picture:</h2>

      <div>
      <img [src]="base64Image" *ngIf="base64Image" />
      </div>
    </ion-card-content>
  </ion-card>



</ion-list>

<div padding>
  <button ion-button full color="comfirm" block (click)="addPayment()">Confirm</button>
</div>


</ion-content>
