<ion-header>
  <ion-navbar color = "event">
  <ion-title align="center" (click)= "showPayment();">Events</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="cards-bg social-cards">

<!--<ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>-->
<!--<ion-list>
  <ion-item *ngFor="let item of items">
    {{ item }}
  </ion-item>
</ion-list>-->


<ion-menu side = "left" [content]="content">
    
  <ion-content>
    <ion-list>
      <ion-item>
      <ion-avatar item-left>
        <img src="assets/img/avatar.jpg" height="200" width="200">
      </ion-avatar>
      <h2>{{userName}}</h2>
      <p>1 Unpaid Event</p>
     </ion-item>
      
      <button class = "button" ion-item (click)="launchBalancePage()">
        My Balance
      </button>
      <button class = "button" ion-item (click)="launchSettingPage()">
        Settings
      </button>
      <button class = "button" ion-item  ng-click="login()">
        Switch User
      </button>
      <button class = "button" ion-item (click)="userLogOut();">
        Logout
      </button>
    </ion-list>
  </ion-content>
</ion-menu>



<ion-nav id="nav" #content [root]="rootPage"></ion-nav>





<ion-list>
  <!--<ion-item *ngFor="let payment of paymentList | async">-->
  <ion-item *ngFor="let payment of paymentList">
    <ion-card>
      <ion-item  color = "cardTitle" (click)="openEvent( payment.title, payment.amount, payment.split, payment.average, payment.details)">
          <h2>{{payment.title}}</h2>
          <p>Shared Payment : $ {{payment.amount}}</p>
      </ion-item>
      <img src="assets/img/{{payment.title}}.jpg">

      <ion-row>
        <ion-col center text-center>
          <!--<ion-note>${{event.average}}</ion-note>-->
          <ion-note>$ {{payment.average}}</ion-note>
        </ion-col>
        <ion-col>
          <button ion-button color="primary" clear small icon-right (click)="doPay()">
            Not Paid
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-item>
</ion-list>


</ion-content>

<style>
  .social-cards ion-col {
    padding: 0;
  }
</style>